#home_work_4_body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background-color: #ededed;
    font-size: 12px;
    line-height: 50%;
}

#home_work_4_body p {
    /* line-height: 80%; */
}

.page_content_range {
    min-width: 600px;
    max-width: 1000px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.float_clear {
    clear: both;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-bottom {
    vertical-align: bottom;
}

.float_clear {
    clear: both;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0;
}

.no_margin_top {
    margin-top: 0;
}

.no_margin_bottom {
    margin-bottom: 0;
}

.margin_auto_LR {
    margin-left: auto;
    margin-right: auto;
}

.margin_auto_TB {
    margin-top: auto;
    margin-bottom: auto;
}

#menu_section {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(-180deg, #1d4a72, #5793c4);
    position: fixed;
    top: 0;
    font-size: 22px;
}

#menu_section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

#menu_section li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

#menu_section li {
    float: left;
}

#menu_section li a:hover {
    text-shadow: 0.1em 0.1em 0.5em rgb(255, 255, 255)
}

#content_section {
    margin-top: 60px;
}

.plan_section {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 20px 0;
}

.plan_section_top {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 20px 0;
}

.book_mark {
    background-color: #ededed;
    height: 1px;
}

#footer {
    background-color: #a7d2da;
    height: 500px;
}

.plan_table {
    margin: 20px 25px;
    min-width: 550px;
    max-width: 950px;
    width: 100%;
}

.plan_table td {
    padding: 0 15px;
}

.plan_table_right_side_with_color {
    border-right: 1px solid #8a8484;
}

.plan_table_right_side_without_color {
    border-right: 0px;
}

.plan_detail_text {
    font-size: 11px;
    color: #5868c0;
    font-weight: 900;
}

.plan_detail_text:hover {
    color: #7a82ae;
    text-shadow: 0.1em 0.1em 0.5em #37327b;
}

.plan_detail_icon {
    color: #5868c0;
}

.plan_detail_icon.md_big {
    font-size: 60px;
}

.plan_detail_subtitle {
    font-size: 20px;
    color: #5868c0;
}

.plan_detail_price {
    font-size: 35px;
    color: #5868c0;
}

.plan_detail_order_button {
    background-color: #262e5e;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding: 5px 30px;
}